.about {
  background-color: #1b262c;
  padding: 10% 0 10% 0;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
}

.about__items {
  display: flex;
}

.about__logo {
  max-height: 200px;
}

.about__references {
  margin-top: 80px;
  margin-bottom: 80px;
  color: white;
  font-size: 20px;
}

.about__references--logo {
  width: 150px;
  margin: 20px;
}

.about__image {
  width: 250px;
}

.about__text {
  padding: 30px;
  margin: 30px 25% 0 25%;
}

@media (max-width: 1100px) {
  .about__text {
    margin: 30px 0 0 0;
  }
  .about__items {
    flex-direction: column;
  }

  .about__logo {
    margin-bottom: 30px;
  }
}
