* {
  margin: 0;
}

.app {
  background-color: rgb(238, 238, 238);
}

.app__skillset {
  background-color: #0f4c75;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}
