.cta {
  padding: 2%;
  background-color: #0f4c75;
  border-radius: 10px;
  margin: 20%;
  text-align: center;
  align-items: center;
}

.cta__text {
  font-size: 22px;
  color: white;
}

.cta__img {
  max-width: 300px;
}

.footer__icon {
  color: #fff !important;
}
