.footer {
  background-color: #1b262c;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.footer__icon {
  color: #fff !important;
}

.footer__copyright {
  color: #fff;
}

.footer__links > a {
  color: #fff;
  text-decoration: none;
}

.footer__links--imprint {
  margin-right: 10px;
}
