.nav__toolbar {
  justify-content: space-between;
}

.nav__logo {
  width: 250px;
  object-fit: contain;
}

.nav__links {
  display: flex;
}

.nav__link {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.nav__link--menu {
  text-decoration: none;
  color: #1b262c;
}

@media (max-width: 796px) {
  .nav__links {
    display: none;
  }
}

@media (min-width: 797px) {
  .nav__menu {
    display: none;
  }
}
