.portfolio > h2 {
  text-align: center;
  font-size: 35px;
  color: #1b262c;
  padding-top: 10vh;
}

.portfolio > h3 {
  text-align: center;
  color: #0f4c75;
  margin-top: 5vh;
}

.portfolio__category {
  margin-top: 50px;
  text-align: center;
}

.cards {
  text-align: -webkit-center;
  padding: 40px;
}

.card {
  max-width: 345px;
}
